/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

#map-canvas{height: 400px; width: 100%; overflow: hidden;}
body form {margin: 0; height: 100%;}
html, body {height: 100%}




/* -----------------------------------------
   Startpage
----------------------------------------- */




/* -----------------------------------------
   Case
----------------------------------------- */
div span.quote {font-style:italic; margin-top: 5%; display: block;}

